<a href="https://colab.research.google.com/github/standrze/TimeParadox/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install chart_studio

Requirement already satisfied: chart_studio in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from chart_studio) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from chart_studio) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from chart_studio) (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (1.24.3)

In [ ]:
import pandas as pd
import plotly.figure_factory as ff
import plotly.offline as py

df = pd.read_csv("https://raw.githubusercontent.com/standrze/awesomeProject1/master/hoi4_1.csv")
df.columns
df = df.fillna(0)

#table = ff.create_table(df)
#py.iplot(table)
df

              state   id owner  ... start_tung start_steel  start_chrom
0             Herat  415   AFG  ...        0.0         0.0          0.0
1             Kabul  267   AFG  ...        3.6         0.0          0.0
2           Albania   44   ALB  ...        0.0         0.0          2.6
3    NorthernEpirus  805   ALB  ...        0.0         0.0          0.0
4      ChacoAustral  509   ARG  ...       45.5         7.8          0.0
..              ...  ...   ...  ...        ...         ...          ...
801  SouthernSerbia  803   YUG  ...        0.0         0.0          0.0
802       Vojvodina   45   YUG  ...        0.0         0.0          0.0
803       WestBanat  764   YUG  ...        0.0         0.0          0.0
804            Dali  747   YUN  ...        0.0         0.0          0.0
805          Yunnan  325   YUN  ...        2.6         0.0          0.0

[806 rows x 26 columns]

In [ ]:
df['owner'].unique()

NameError: ignored

In [ ]:
hungary = df[df['owner'] == 'AST']
core_hungary = hungary[hungary['status'] == 'Core']

population = core_hungary['population'].sum()
print("Population: {:,}".format(population))

Population: 6,542,376

In [ ]:
core_hungary['civ'].astype(int).sum()

11

In [ ]:
core_hungary

                state   id owner  ... start_tung start_steel  start_chrom
11   CentralAustralia  674   AST  ...        0.0         0.0          0.0
12      NewSouthWales  285   AST  ...        0.0         0.0          0.0
13  NorthernTerritory  520   AST  ...        0.0        28.6          0.0
15         Queensland  521   AST  ...       36.0         0.0          0.0
17     SouthAustralia  519   AST  ...        0.0         0.0          0.0
18           Tasmania  518   AST  ...        0.0         0.0          0.0
19           Victoria  517   AST  ...        0.0        12.8          6.4
20   WesternAustralia  522   AST  ...        0.0         0.0          0.0

[8 rows x 26 columns]

In [ ]:
cgf = { "Undisturbed Isolation": .50,	"Isolation": .40,	"Civilian Economy": .35,	"Early Mobilization": .30,	"Partial Mobilization": .25,	"War Economy": .20,	"Total Mobilization": .10,	"Collectivized Society": .15 }

civ_speed = { "Undisturbed Isolation": .50,	"Isolation": .40,	"Civilian Economy": .35,	"Early Mobilization": .30,	"Partial Mobilization": .25,	"War Economy": .20,	"Total Mobilization": .10,	"Collectivized Society": .15 }
civ_to_mil = { "Undisturbed Isolation": .50,	"Isolation": .40,	"Civilian Economy": .35,	"Early Mobilization": .30,	"Partial Mobilization": .25,	"War Economy": .20,	"Total Mobilization": .10,	"Collectivized Society": .15 }
mil_to_civ = { "Undisturbed Isolation": .50,	"Isolation": .40,	"Civilian Economy": .35,	"Early Mobilization": .30,	"Partial Mobilization": .25,	"War Economy": .20,	"Total Mobilization": .10,	"Collectivized Society": .15 }

civs = core_hungary['civ'].astype(int).sum()

start = civs * (1 - cgf['Civilian Economy'])

NameError: ignored

In [ ]:
base_cost = {"Infastructure": 3000, "Civilian": 10800, "Military": 7200, "Synthetic": 14500, "Dockyard": 6400} 
speed = { "Free Trade": .15, "Export Focus": .10, "Limited Exports": .05, "Service Requirement": -.10, "All Adults": -.30, "Scraping": -.40  }

def build(cost, fact, sb):
  return cost / (5 * fact * (1 + sb))

In [ ]:
#for index, row in core_hungary.iterrows():
#  avail = row['unadjusted_slots'] - row['mil'] - row['civ'] - row['doc']

print(365 / build(base_cost['Civilian'], 4, speed['Limited Exports']))
print(365 / build(base_cost['Civilian'], 4, speed['Free Trade']))

NameError: ignored